<div class="row">
	{% for comment in comments.data %}
		<div class="comment-2">
			<div class="comment-author-info">
				<div class="comment-author vcard">
					<img alt="" src="{{ comment.author.profilImage }}" style="width: 40px;">
				</div>
				<div class="comment-content">
					<div class="meta">
						<div class="comment-content-top">
							<div class="comment-actions">
								<h6 class="fn">{{ comment.author.username }}</h6>
								<span class="time">
									{{ comment.createdAt|date('d-m-Y') }}
								</span>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="comment-text">
				<p>{{ comment.content }}</p>
			</div>
		</div>
	{% endfor  %}
</div>

{% set path = 'app_comments' %}
{% set pages = comments.pages %}
{% set currentPage = comments.page %}

{% if pages > 1 %}

	<center>
		<div id="replaceMe">
			<tr id="loadMore">
				<td colspan="3">
					<button class='btn' hx-get="{{ path(path, {page: currentPage + 1}) }}" hx-trigger="click" hx-target="#replaceMe" hx-swap="outerHTML">
						Plus de commentaires<img class="htmx-indicator" src="/img/bars.svg">
					</button>
				</td>
			</tr>
		</div>
	</center>
{% endif %}
