{% extends 'base.html.twig' %}

{% block body %}

    <div id="main-wrapper">
        <div class="site-wrapper-reveal">

            <div class="login-register-page-area section-space--ptb_80">
                <div class="container">
                    <div class="row ">
                        <div class="col-lg-6 m-auto">
                            <div class="login-content">

                                <div class="login-header mb-40">
                                    <h5>REGISTER</h5>
                                </div>

                                <form action="{{ path('app_register') }}" method="post">
                                    <input type="text" id="username" name="_username" value="{{ last_username }}" placeholder="Nom d'utilisateur">
                                    <input type="password" id="password" name="_password" placeholder="Mot de passe">
									<input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
                                    <div class="remember-forget-wrap mb-30">
                                        <div class="remember-wrap">
                                            <input type="checkbox">
                                            <p>Remember</p>
                                            <span class="checkmark"></span>
                                        </div>
                                        <div class="forget-wrap">
                                            <a href="#">Forgot your password?</a>
                                        </div>
                                    </div>
                                    <button type="submit" class="btn-primary btn-large">Log in</button>
                                    <div class="member-register mt-5">
                                        <p> Vous n'êtes pas inscrit ? <a href="register.html"> Inscrivez-vous maintenant.</a></p>
                                    </div>
                                </form>

                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>

    <h1>Register</h1>

    {{ form_start(registrationForm) }}
        {{ form_row(registrationForm.username) }}
        {{ form_row(registrationForm.plainPassword, {
            label: 'Password'
        }) }}
        {{ form_row(registrationForm.agreeTerms) }}

        <button type="submit" class="btn">Register</button>
    {{ form_end(registrationForm) }}
{% endblock %}
