{% extends 'base.html.twig' %}

{% form_theme formFigure 'bootstrap_5_layout.html.twig' %}

{% block body %}


	<div id="main-wrapper">
		<div class="site-wrapper-reveal">
			<div class="login-register-page-area section-space--ptb_80">
				<div class="container">
					<div class="row ">
						<div class="col-lg-6 m-auto">
							<div class="login-content">
								<div class="login-header mb-40">
									<h5>Créer un nouvel article</h5>
								</div>

								{{ form_start(formFigure) }}
								{{ form_widget(formFigure.title) }}
								{{ form_widget(formFigure.content) }}

								{{ form_row(formFigure.figGroup) }}
							</br>
							{{ form_row(formFigure.videos) }}
						</br>
						{{ form_row(formFigure.images) }}

					</br>

					{% for image in figure.linkedFigureImages %}
						<div>
							<img src="{{ image.imageUrl }}" alt="" width="150">
							{% if image.mainImage %}
								Image principale
							{% else %}
								{#Attention, si on est pas en form ça ne fonctionnera pas #}
								<form action="{{ path('delete_img', {id: image.id})}}" method="post">
									<input type="hidden" name="token" value="{{ csrf_token('delete') }}"/>
									<button type="submit">Supprimer</button>
								{% endif %}
							</form>
						</div>
					{% endfor %}

					{% for video in figure.linkedFigureVideos %}
						<div>
							{#Attention, si on est pas en form ça ne fonctionnera pas #}
							<form action="{{ path('delete_vid', {id: video.id})}}" method="post">
								<input type="hidden" name="token" value="{{ csrf_token('delete') }}"/>
								<button type="submit">Supprimer</button>
							</form>
						</div>
					{% endfor %}

					<button type="submit" class="btn btn-warning">
						{% if editMode %}
							Enregistrer les modifications
						{% else %}
							Ajouter la figure
						{% endif %}
					</button>

					{{ form_errors(formFigure.title) }}
					{{ form_end(formFigure) }}

				</div>
			</div>
		</div>
	</div>
</div></div></div>{% endblock %}
