{% extends 'base.html.twig' %}

{% form_theme formFigure 'foundation_5_layout.html.twig' %}

{% block body %}


{{ form_start(formFigure) }}

{{ form_row(formFigure.title) }}
{{ form_row(formFigure.content) }}


    <button type="submit" class="btn btn-warning"> Ajouter la figure </button>

{{ form_errors(formFigure.title) }}
</div>

{{ form_end(formFigure) }}

{% endblock %}
