{% extends 'base.html.twig' %}


{% block body %}


{{ form_start(formFigure) }}

<div class="form-group">
    <label for="">Titre</label>
    {{ form_widget(formFigure.title) }}
</div>

<div class="form-group">
    <label for="">Contenu</label>
    {{ form_widget(formFigure.content) }}
</div>

<div class="form-group">
    <label for="">Groupe</label>
    {{ form_widget(formFigure.figGroup) }}
</div>

{{form_end(formFigure)}}

{% endblock %}
