{% extends 'base.html.twig' %}

{% block title %}Hello LoginController!{% endblock %}

{% block body %}
{% if error %}
        <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}



    <div id="main-wrapper">
        <div class="site-wrapper-reveal">

            <div class="login-register-page-area section-space--ptb_80">
                <div class="container">
                    <div class="row ">
                        <div class="col-lg-6 m-auto">
                            <div class="login-content">

                                <div class="login-header mb-40">
                                    <h5>Connectez-vous</h5>
                                </div>

                                <form action="{{ path('app_login') }}" method="post">
                                    <input type="text" id="username" name="_username" value="{{ last_username }}" placeholder="Nom d'utilisateur">
                                    <input type="password" id="password" name="_password" placeholder="Mot de passe">
									<input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
                                    <div class="remember-forget-wrap mb-30">
                                        <div class="forget-wrap">
                                            <a href=" {{ path('forgotten_pw' ) }} ">Vous avez oublié votre mot de passe ?</a>
                                        </div>
                                    </div>
                                    <button type="submit" class="btn-primary btn-large">Se connecter</button>
                                    <div class="member-register mt-5">
                                        <p> Vous n'êtes pas inscrit ? <a href=""> Inscrivez-vous maintenant.</a></p>
                                    </div>
                                </form>

                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>


{% endblock %}
